In [6]:
import pandas as pd
FY2014 = pd.read_csv("../H1b_Data/H1B_FY_2014.csv", error_bad_lines=False, sep = ';')

In [7]:
FY2014.head()

,Unnamed: 0,LCA_CASE_NUMBER,STATUS,LCA_CASE_SUBMIT,DECISION_DATE,VISA_CLASS,LCA_CASE_EMPLOYMENT_START_DATE,LCA_CASE_EMPLOYMENT_END_DATE,LCA_CASE_EMPLOYER_NAME,LCA_CASE_EMPLOYER_ADDRESS,...,OTHER_WAGE_SOURCE_1,YR_SOURCE_PUB_1,LCA_CASE_WORKLOC2_CITY,LCA_CASE_WORKLOC2_STATE,PW_2,PW_UNIT_2,PW_SOURCE_2,OTHER_WAGE_SOURCE_2,YR_SOURCE_PUB_2,LCA_CASE_NAICS_CODE
0,0,I-200-09106-546545,CERTIFIED-WITHDRAWN,2013-01-18 18:05:43,2014-09-29 15:59:50,H-1B,2013-02-01 00:00:00,2016-02-01 00:00:00,TEXAS STATE UNIVERSITY-SAN MARCOS,601 UNIVERSITY DRIVE,...,OFLC ONLINE DATA CENTER,2013.0,ST. LOUIS,MO,49566.0,Year,OES,OFLC ONLINE DATA CENTER,OFLC ONLINE DATA CENTER,611310.0
1,1,I-200-09162-143337,CERTIFIED,2014-03-17 11:11:45,2014-03-21 23:11:51,H-1B,2014-09-15 00:00:00,2017-09-15 00:00:00,"EYE SPECIALISTS OF INDIANA, P.C.",1901 N. MERIDIAN ST.,...,OFLC ONLINE DATA CENTER,2013.0,INDIANAPOLIS,IN,64251.0,Year,Other,OFLC ONLINE DATA CENTER,OFLC ONLINE DATA CENTER,621320.0
2,2,I-200-09182-550211,DENIED,2014-03-14 17:05:01,2014-03-20 16:59:49,H-1B,2014-04-01 00:00:00,2015-04-01 00:00:00,"LHB, INC.",21 WEST SUPERIOR STREET,...,OFLIC ONLINE,2014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,541330.0
3,3,I-200-09193-873099,CERTIFIED,2014-03-01 12:37:02,2014-03-06 22:03:37,H-1B,2014-08-28 00:00:00,2017-08-27 00:00:00,"WAM USA, INC.",75 BOULDERBROOK CIRCLE,...,OFLC ONLINE DATA CENTER,2014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,333922.0
4,4,I-200-09197-120609,CERTIFIED-WITHDRAWN,2014-03-10 15:33:41,2014-03-17 10:52:46,H-1B,2014-09-01 00:00:00,2017-09-01 00:00:00,"DFUSE TECHNOLOGIES, INC.",20143 DESERT FOREST DRIVE,...,OFLC ONLINE DATA CENTER,2013.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,541519.0

In [8]:
FY2014.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519504 entries, 0 to 519503
Data columns (total 36 columns):
Unnamed: 0                        519504 non-null int64
LCA_CASE_NUMBER                   519504 non-null object
STATUS                            519504 non-null object
LCA_CASE_SUBMIT                   519504 non-null object
DECISION_DATE                     519504 non-null object
VISA_CLASS                        519504 non-null object
LCA_CASE_EMPLOYMENT_START_DATE    519500 non-null object
LCA_CASE_EMPLOYMENT_END_DATE      519499 non-null object
LCA_CASE_EMPLOYER_NAME            519476 non-null object
LCA_CASE_EMPLOYER_ADDRESS         519462 non-null object
LCA_CASE_EMPLOYER_CITY            519477 non-null object
LCA_CASE_EMPLOYER_STATE           519458 non-null object
LCA_CASE_EMPLOYER_POSTAL_CODE     519463 non-null object
LCA_CASE_SOC_CODE                 519455 non-null object
LCA_CASE_SOC_NAME                 515233 non-null object
LCA_CASE_JOB_TITLE                519497 non-null object
LCA_CASE_WAGE_RATE_FROM           519468 non-null float64
LCA_CASE_WAGE_RATE_TO             102932 non-null float64
LCA_CASE_WAGE_RATE_UNIT           519468 non-null object
FULL_TIME_POS                     519499 non-null object
TOTAL_WORKERS                     519501 non-null float64
LCA_CASE_WORKLOC1_CITY            519455 non-null object
LCA_CASE_WORKLOC1_STATE           519455 non-null object
PW_1                              519420 non-null float64
PW_UNIT_1                         519427 non-null object
PW_SOURCE_1                       519424 non-null object
OTHER_WAGE_SOURCE_1               508091 non-null object
YR_SOURCE_PUB_1                   519420 non-null float64
LCA_CASE_WORKLOC2_CITY            83888 non-null object
LCA_CASE_WORKLOC2_STATE           83906 non-null object
PW_2                              83909 non-null float64
PW_UNIT_2                         83910 non-null object
PW_SOURCE_2                       83908 non-null object
OTHER_WAGE_SOURCE_2               82694 non-null object
YR_SOURCE_PUB_2                   82694 non-null object
LCA_CASE_NAICS_CODE               519479 non-null float64
dtypes: float64(7), int64(1), object(28)
memory usage: 142.7+ MB

In [52]:
fy = FY2014[FY2014["STATUS"] == 'CERTIFIED']
fy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 455144 entries, 1 to 519492
Data columns (total 36 columns):
Unnamed: 0                        455144 non-null int64
LCA_CASE_NUMBER                   455144 non-null object
STATUS                            455144 non-null object
LCA_CASE_SUBMIT                   455144 non-null object
DECISION_DATE                     455144 non-null object
VISA_CLASS                        455144 non-null object
LCA_CASE_EMPLOYMENT_START_DATE    455144 non-null object
LCA_CASE_EMPLOYMENT_END_DATE      455144 non-null object
LCA_CASE_EMPLOYER_NAME            455144 non-null object
LCA_CASE_EMPLOYER_ADDRESS         455131 non-null object
LCA_CASE_EMPLOYER_CITY            455142 non-null object
LCA_CASE_EMPLOYER_STATE           455125 non-null object
LCA_CASE_EMPLOYER_POSTAL_CODE     455131 non-null object
LCA_CASE_SOC_CODE                 455144 non-null object
LCA_CASE_SOC_NAME                 451442 non-null object
LCA_CASE_JOB_TITLE                455144 non-null object
LCA_CASE_WAGE_RATE_FROM           455144 non-null float64
LCA_CASE_WAGE_RATE_TO             88225 non-null float64
LCA_CASE_WAGE_RATE_UNIT           455144 non-null object
FULL_TIME_POS                     455144 non-null object
TOTAL_WORKERS                     455144 non-null float64
LCA_CASE_WORKLOC1_CITY            455138 non-null object
LCA_CASE_WORKLOC1_STATE           455144 non-null object
PW_1                              455144 non-null float64
PW_UNIT_1                         455144 non-null object
PW_SOURCE_1                       455144 non-null object
OTHER_WAGE_SOURCE_1               448789 non-null object
YR_SOURCE_PUB_1                   455144 non-null float64
LCA_CASE_WORKLOC2_CITY            73676 non-null object
LCA_CASE_WORKLOC2_STATE           73688 non-null object
PW_2                              73687 non-null float64
PW_UNIT_2                         73689 non-null object
PW_SOURCE_2                       73688 non-null object
OTHER_WAGE_SOURCE_2               72885 non-null object
YR_SOURCE_PUB_2                   72885 non-null object
LCA_CASE_NAICS_CODE               455144 non-null float64
dtypes: float64(7), int64(1), object(28)
memory usage: 128.5+ MB

In [47]:
FY2014['LCA_CASE_WORKLOC1_STATE'].head()

0    TX
1    IN
2    WI
3    GA
4    CA
Name: LCA_CASE_WORKLOC1_STATE, dtype: object

In [48]:
FY2014['LCA_CASE_WORKLOC2_STATE'].head()

0     MO
1     IN
2    NaN
3    NaN
4    NaN
Name: LCA_CASE_WORKLOC2_STATE, dtype: object

In [37]:
FY2015 = pd.read_csv("../H1b_Data/H1B_FY_2015.csv", error_bad_lines=False, sep = ';')

In [39]:
FY2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 618804 entries, 0 to 618803
Data columns (total 41 columns):
Unnamed: 0               618804 non-null int64
CASE_NUMBER              618804 non-null object
CASE_STATUS              618804 non-null object
CASE_SUBMITTED           618804 non-null object
DECISION_DATE            618804 non-null object
VISA_CLASS               618804 non-null object
EMPLOYMENT_START_DATE    618785 non-null object
EMPLOYMENT_END_DATE      618785 non-null object
EMPLOYER_NAME            618781 non-null object
EMPLOYER_ADDRESS1        618778 non-null object
EMPLOYER_ADDRESS2        310861 non-null object
EMPLOYER_CITY            618773 non-null object
EMPLOYER_STATE           618761 non-null object
EMPLOYER_POSTAL_CODE     618766 non-null object
EMPLOYER_COUNTRY         618782 non-null object
EMPLOYER_PROVINCE        8760 non-null object
EMPLOYER_PHONE           618742 non-null float64
EMPLOYER_PHONE_EXT       38244 non-null float64
AGENT_ATTORNEY_NAME      391678 non-null object
AGENT_ATTORNEY_CITY      391676 non-null object
AGENT_ATTORNEY_STATE     383641 non-null object
JOB_TITLE                618784 non-null object
SOC_CODE                 618789 non-null object
SOC_NAME                 618788 non-null object
NAIC_CODE                618784 non-null float64
TOTAL WORKERS            618789 non-null float64
FULL_TIME_POSITION       618791 non-null object
PREVAILING_WAGE          618737 non-null float64
PW_UNIT_OF_PAY           618727 non-null object
PW_WAGE_LEVEL            590096 non-null object
PW_WAGE_SOURCE           618730 non-null object
PW_WAGE_SOURCE_YEAR      618723 non-null float64
PW_WAGE_SOURCE_OTHER     608362 non-null object
WAGE_RATE_OF_PAY         618804 non-null object
WAGE_UNIT_OF_PAY         618774 non-null object
H-1B_DEPENDENT           606330 non-null object
WILLFUL VIOLATOR         606328 non-null object
WORKSITE_CITY            618769 non-null object
WORKSITE_COUNTY          617408 non-null object
WORKSITE_STATE           618777 non-null object
WORKSITE_POSTAL_CODE     618765 non-null object
dtypes: float64(6), int64(1), object(34)
memory usage: 193.6+ MB

In [50]:
FY2016 = pd.read_csv("../H1b_Data/H1B_FY_2016.csv", error_bad_lines=False, sep = ';')

/Users/astridweng/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [51]:
FY2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 647852 entries, 0 to 647851
Data columns (total 41 columns):
Unnamed: 0               647852 non-null int64
CASE_NUMBER              647852 non-null object
CASE_STATUS              647852 non-null object
CASE_SUBMITTED           647852 non-null object
DECISION_DATE            647852 non-null object
VISA_CLASS               647852 non-null object
EMPLOYMENT_START_DATE    647835 non-null object
EMPLOYMENT_END_DATE      647827 non-null object
EMPLOYER_NAME            647837 non-null object
EMPLOYER_ADDRESS         647847 non-null object
EMPLOYER_CITY            647846 non-null object
EMPLOYER_STATE           647818 non-null object
EMPLOYER_POSTAL_CODE     647831 non-null object
EMPLOYER_COUNTRY         647849 non-null object
EMPLOYER_PROVINCE        7672 non-null object
EMPLOYER_PHONE           647849 non-null object
EMPLOYER_PHONE_EXT       34262 non-null object
AGENT_ATTORNEY_NAME      647852 non-null object
AGENT_ATTORNEY_CITY      406318 non-null object
AGENT_ATTORNEY_STATE     395790 non-null object
JOB_TITLE                647845 non-null object
SOC_CODE                 647844 non-null object
SOC_NAME                 647844 non-null object
NAIC_CODE                647847 non-null float64
TOTAL_WORKERS            647852 non-null int64
FULL_TIME_POSITION       0 non-null float64
PREVAILING_WAGE          647851 non-null float64
PW_UNIT_OF_PAY           647803 non-null object
PW_WAGE_SOURCE           647799 non-null object
PW_SOURCE_YEAR           647791 non-null float64
PW_SOURCE_OTHER          639665 non-null object
WAGE_RATE_OF_PAY_FROM    647852 non-null float64
WAGE_RATE_OF_PAY_TO      647851 non-null float64
WAGE_UNIT_OF_PAY         647842 non-null object
H-1B_DEPENDENT           634580 non-null object
WILLFUL_VIOLATOR         634579 non-null object
WORKSITE_CITY            647834 non-null object
WORKSITE_COUNTY          646508 non-null object
WORKSITE_STATE           647842 non-null object
WORKSITE_POSTAL_CODE     647820 non-null object
ORIGINAL_CERT_DATE       47092 non-null object
dtypes: float64(6), int64(2), object(33)
memory usage: 202.7+ MB

In [33]:
s = FY2014.groupby(['LCA_CASE_JOB_TITLE'],as_index=False).count()

In [10]:
test = pd.read_csv ('../insight_testsuite/tests/test_1/input/h1b_input.csv',error_bad_lines=False, sep = ';')

In [11]:
test

,Unnamed: 0,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_BUSINESS_DBA,...,H1B_DEPENDENT,WILLFUL_VIOLATOR,SUPPORT_H1B,LABOR_CON_AGREE,PUBLIC_DISCLOSURE_LOCATION,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,ORIGINAL_CERT_DATE
0,0,I-200-18026-338377,CERTIFIED,2018-01-29,2018-02-02,H-1B,2018-07-28,2021-07-27,MICROSOFT CORPORATION,NaN,...,N,N,NaN,NaN,NaN,REDMOND,KING,WA,98052,NaN
1,1,I-200-17296-353451,CERTIFIED,2017-10-23,2017-10-27,H-1B,2017-11-06,2020-11-06,ERNST & YOUNG U.S. LLP,NaN,...,N,N,NaN,NaN,NaN,SANTA CLARA,SAN JOSE,CA,95110,NaN
2,2,I-200-18242-524477,CERTIFIED,2018-08-30,2018-09-06,H-1B,2018-09-10,2021-09-09,LOGIXHUB LLC,NaN,...,N,N,NaN,NaN,NaN,IRVING,DALLAS,TX,75062,NaN
3,3,I-200-18070-575236,CERTIFIED,NaN,2018-03-30,H-1B,2018-09-10,2021-09-09,"HEXAWARE TECHNOLOGIES, INC.",NaN,...,Y,N,Y,NaN,NaN,NEW CASTLE,NEW CASTLE,DE,19720,NaN
4,4,I-200-18243-850522,CERTIFIED,2018-08-31,2018-09-07,H-1B,2018-09-07,2021-09-06,"ECLOUD LABS,INC.",NaN,...,Y,N,Y,Y,NaN,BIRMINGHAM,SHELBY,AL,35244,NaN
5,5,I-200-18142-939501,CERTIFIED,2018-05-22,2018-05-29,H-1B,2018-05-29,2021-05-28,OBERON IT,NaN,...,Y,N,Y,NaN,NaN,SUNRISE,BROWARD,FL,33323,NaN
6,6,I-200-18121-552858,CERTIFIED,2018-05-01,2018-05-07,H-1B,2018-05-02,2018-10-26,ICONSOFT INC.,NaN,...,Y,N,Y,NaN,NaN,JACKSONVILLE,DUVAL COUNTY,FL,32202,NaN
7,7,I-200-18215-849606,CERTIFIED,2018-08-03,2018-08-09,H-1B,2018-08-11,2021-08-11,COGNIZANT TECHNOLOGY SOLUTIONS US CORP,NaN,...,Y,N,Y,NaN,NaN,OWINGS MILLS,BALTIMORE,MD,21117,NaN
8,8,I-201-17339-472823,CERTIFIED,2017-12-08,2017-12-14,H-1B1 Chile,2017-12-08,2019-06-07,ISHI SYSTEMS INC,NaN,...,NaN,NaN,NaN,NaN,NaN,JERSEY CITY,HUDSON,NJ,7311,NaN
9,9,I-200-18233-239931,CERTIFIED,2018-08-21,2018-08-27,H-1B,2018-09-05,2021-09-04,"WB SOLUTIONS, LLC",NaN,...,Y,N,Y,Y,NaN,ALPHARETTA,FULTON,GA,30005,NaN

In [13]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 53 columns):
Unnamed: 0                     10 non-null int64
CASE_NUMBER                    10 non-null object
CASE_STATUS                    10 non-null object
CASE_SUBMITTED                 9 non-null object
DECISION_DATE                  10 non-null object
VISA_CLASS                     10 non-null object
EMPLOYMENT_START_DATE          10 non-null object
EMPLOYMENT_END_DATE            10 non-null object
EMPLOYER_NAME                  10 non-null object
EMPLOYER_BUSINESS_DBA          0 non-null float64
EMPLOYER_ADDRESS               10 non-null object
EMPLOYER_CITY                  10 non-null object
EMPLOYER_STATE                 10 non-null object
EMPLOYER_POSTAL_CODE           10 non-null int64
EMPLOYER_COUNTRY               10 non-null object
EMPLOYER_PROVINCE              0 non-null float64
EMPLOYER_PHONE                 10 non-null int64
EMPLOYER_PHONE_EXT             1 non-null float64
AGENT_REPRESENTING_EMPLOYER    10 non-null object
AGENT_ATTORNEY_NAME            10 non-null object
AGENT_ATTORNEY_CITY            5 non-null object
AGENT_ATTORNEY_STATE           4 non-null object
JOB_TITLE                      10 non-null object
SOC_CODE                       10 non-null object
SOC_NAME                       10 non-null object
NAICS_CODE                     10 non-null float64
TOTAL_WORKERS                  10 non-null int64
NEW_EMPLOYMENT                 10 non-null int64
CONTINUED_EMPLOYMENT           10 non-null int64
CHANGE_PREVIOUS_EMPLOYMENT     10 non-null int64
NEW_CONCURRENT_EMP             10 non-null int64
CHANGE_EMPLOYER                10 non-null int64
AMENDED_PETITION               10 non-null int64
FULL_TIME_POSITION             10 non-null object
PREVAILING_WAGE                10 non-null float64
PW_UNIT_OF_PAY                 10 non-null object
PW_WAGE_LEVEL                  10 non-null object
PW_SOURCE                      10 non-null object
PW_SOURCE_YEAR                 10 non-null float64
PW_SOURCE_OTHER                10 non-null object
WAGE_RATE_OF_PAY_FROM          10 non-null float64
WAGE_RATE_OF_PAY_TO            10 non-null float64
WAGE_UNIT_OF_PAY               10 non-null object
H1B_DEPENDENT                  9 non-null object
WILLFUL_VIOLATOR               9 non-null object
SUPPORT_H1B                    6 non-null object
LABOR_CON_AGREE                2 non-null object
PUBLIC_DISCLOSURE_LOCATION     0 non-null float64
WORKSITE_CITY                  10 non-null object
WORKSITE_COUNTY                10 non-null object
WORKSITE_STATE                 10 non-null object
WORKSITE_POSTAL_CODE           10 non-null int64
ORIGINAL_CERT_DATE             0 non-null float64
dtypes: float64(10), int64(11), object(32)
memory usage: 4.2+ KB

In [49]:
test['CASE_STATUS']

0    CERTIFIED
1    CERTIFIED
2    CERTIFIED
3    CERTIFIED
4    CERTIFIED
5    CERTIFIED
6    CERTIFIED
7    CERTIFIED
8    CERTIFIED
9    CERTIFIED
Name: CASE_STATUS, dtype: object

In [30]:
s = test.groupby(['JOB_TITLE'],as_index=False).count()

In [31]:
s

,JOB_TITLE,Unnamed: 0,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,...,H1B_DEPENDENT,WILLFUL_VIOLATOR,SUPPORT_H1B,LABOR_CON_AGREE,PUBLIC_DISCLOSURE_LOCATION,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,ORIGINAL_CERT_DATE
0,ASSOCIATE PRODUCT MANAGER(15-1199.09),1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,1,1,1,1,0
1,DATABASE ADMINISTRATOR,1,1,1,1,1,1,1,1,1,...,1,1,0,0,0,1,1,1,1,0
2,MICROSOFT DYNAMICS CRM APPLICATION DEVELOPER,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,1,1,1,1,0
3,SENIOR JAVA DEVELOPER,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,1,1,1,1,0
4,SENIOR ORACLE ADF DEVELOPER,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,1,1,1,1,0
5,SENIOR SYSTEM ARCHITECT,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,1,1,1,1,0
6,SENIOR SYSTEMS ANALYST JC60,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,1,1,1,1,0
7,SOFTWARE ENGINEER,2,2,2,1,2,2,2,2,2,...,2,2,1,0,0,2,2,2,2,0
8,TAX SENIOR,1,1,1,1,1,1,1,1,1,...,1,1,0,0,0,1,1,1,1,0

In [ ]:
dictionary = {el:[] for el in title}

##result = []
##results[0] = list(map(lambda x:x.upper(),results[0]))

for result in results:
    if result[statusIndex].upper() == 'CERTIFIED':
        occupation.append(result[occupationIndex])
        state.append(result[stateIndex])